<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>    
    <!-- Folder where the autorenamer will make the TV, Anime and Movie watch folders-->
    <add key="RootWatchFolder" value="C:\temp\NNTPPoster\Autorenamer\Watch"/>
    <!-- Folder where files get put that do not match for filebot -->
    <add key="NoMatchFolder" value="C:\temp\NNTPPoster\Autorenamer\NoMatch" />
    <!-- A comma separated list of tag folders that need to be made under each watch folder.-->
    <!-- Any file placed in a tagfolder gets the folder/tagname applied to it before being redirected to the watchfolder. -->
    <add key="TagFolders" value="DVD,BD,HDTV,WEB.DL"/>

    <!-- A comma separated list of file extensions that get handled.-->
    <add key="HandledFileExtensions" value="mkv,mp4,avi"/>
    <!-- When this is filled in all unhandled files get moved to this folder. -->
    <!-- WHEN LEFT EMPTY UNHANDLED FILES WILL BE DELETED. -->
    <add key="UnhandledFilesFolder" value="C:\temp\NNTPPoster\Autorenamer\Unhandled"/>

    <!-- Output folder -->
    <add key="OutputFolder" value="C:\temp\NNTPPoster\Autorenamer\out"/>

    <!-- Where to find filebot on the system, leave empty if filebot is accesible trough the path -->
    <add key="FileBotLocation" value="" />

    
    <!-- Only modify the config below if you know what you are doing! -->
    <add key="TVEpisodeFormat" value="{n.ascii().space('.').replaceAll('[,\']')}.{episode.special ? 's00e'+special.pad(2) : s00e00}.{t.ascii().space('.').replaceAll('[,\']')}.{defines.source ?: source}.{vf}.{vc}{video.BitDepth == '10' ? '.Hi10p' : ''}.{ac}{audios.Language.size() > 1 ? (audios.Language.size() > 2 ? '.ML' : '.DL') : ''}{'-'+group}"/>

    <!-- Alternative settings: TVRage-->
    <add key="TvDbToUse" value="TheTVDB"/>

    <add key="MovieFormat" value="{n.ascii().space('.').replaceAll('[,\']')}.{y}.{defines.source ?: source}.{vf}.{vc}{video.BitDepth == '10' ? '.Hi10p' :''}.{ac}{audios.Language.size() > 1 ? (audios.Language.size() > 2 ? '.ML' : '.DL') : ''}{'-'+group}"/>

    <!-- Alternative settings: OMDb-->
    <add key="MovieDbToUse" value ="TheMovieDB"/>

    <add key="AnimeFormat" value="{n.ascii().space('.').replaceAll('[,\']')}.{absolute}.{t.ascii().space('.').replaceAll('[,\']')}.{defines.source ?: source}.{vf}.{vc}{video.BitDepth == '10' ? '.Hi10p' : ''}.{ac}{audios.Language.size() > 1 ? (audios.Language.size() > 2 ? '.ML' : '.DL') : ''}{'-'+group}"/>
    <!-- No alternatives for anime DB-->
    <add key="AnimeDbToUse" value ="AniDB"/>
  </appSettings>
</configuration>