<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="FromAddress" value="anoymous@anon.com (Anonymous)"/>
    
    <add key="NewsGroupAddress" value="reader.usenetbucket.com"/>
    <add key="NewsGroupUsername" value="UB0061952"/>
    <add key="NewsGroupPassword" value="##UsenetBucketPass##"/>
    <add key="NewsGroupUseSsl" value="true"/>
    <add key="TargetNewsgroups" value="alt.binaries.test.yenc"/>

    <add key="MaxConnectionCount" value="1"/>
    
    <add key="yEncLineSize" value="128"/>
    <add key="yEncLinesPerMessage" value="6000"/>
    <add key="MaxRetryCount" value="3"/>

    <add key="WorkingFolder" value="C:\temp\NNTPPoster\Working" />
    <add key="NzbOutputFolder" value="C:\temp\NNTPPoster\Nzbs"/>

    <add key="OptimalSizeRarAndPar" value="0|15|10;1024|50|10;5120|100|5"/>
    <add key="RarLocation" value=""/>
    <add key="ParLocation" value=""/>
  </appSettings>
</configuration>