<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="FromAddress" value="anoymous@anon.com (Anonymous)"/>
    
    <add key="NewsGroupAddress" value="ssl-eu.astraweb.com"/>
    <add key="NewsGroupUsername" value="uI8SWpQ"/>
    <add key="NewsGroupPassword" value="iX0sDkKGOPBY"/>
    <add key="NewsGroupUseSsl" value="true"/>
    <add key="TargetNewsgroup" value="alt.binaries.test.yenc"/>

    <add key="MaxConnectionCount" value="1"/>
    
    <add key="yEncLineSize" value="128"/>
    <add key="yEncLinesPerMessage" value="3000"/>
  </appSettings>
</configuration>