<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- 
    
      Settings you MUST change for the autoposter to work
    
    -->
    <!-- The address of your newshost you want to upload to-->
    <add key="NewsGroupAddress" value="reader.usenetbucket.com" />
    <!-- The port of your newshost you want to upload to usually 80 or 119 for non ssl and 443 or 563 for SSL -->
    <add key="NewsGroupPort" value="443"/>
    <!-- Credentials to use for uploading -->
    <add key="NewsGroupUsername" value="UB0061952" />
    <add key="NewsGroupPassword" value="##ASTRAWEBPASS##" />
    <!-- Use ssl or not. Take into account that forcing ssl on non SSL connections wont work, and vice versa -->
    <add key="NewsGroupUseSsl" value="true" />

    <!-- Wether or not to obfuscate the filename. -->
    <!-- If set to true the uploaded filename will be a GUID instead of the original filename. -->
    <!-- When set the ObscufatedNotificationUrl parameter has to be filled in.-->
    <add key="UseObscufation" value="true" />
    <!-- API url that is used to notify the indexer of an obfuscated release.-->
    <add key="ObscufatedNotificationUrl" value="https://api.nzbgeek.info/api?hash={0}&amp;name={1}&amp;apikey=##APIKEY##" />
    <!-- API url that is used to search the indexer. -->
    <!-- The following two parameters will be replaced: -->
    <!--  {0} by the search query -->
    <!--  {1} by the age + 1 of the post in days -->
    <add key="SearchUrl" value="https://api.nzbgeek.info/api?t=search&amp;q={0}&amp;maxage={1}&amp;apikey=##APIKEY##" />
    
    
    
    
    <!--
    
      Settings you MIGHT want to change
    
    -->
    <!-- How many connections to open simultaneously. Your newshost. More is not always better. Experiment with this to find the lowest value that saturates your connection for best performance.-->
    <add key="MaxConnectionCount" value="5" />
    <!-- A suffix to add to every release name, leave blank to omit -->
    <add key="PostTag" value="-BoB" />
    <!-- What newsgroups to upload to. When entering more than one use semicolon (;) to separate the entries.-->
    <add key="TargetNewsgroups" value="alt.binaries.boneless" />
    <!-- Folder used to prepare the files for posting. Any data in this folder is removed at startup! -->
    <add key="WorkingFolder" value="C:\temp\NNTPPoster\Working" />
    <!-- Folder where to output NZB's leave empty to not write NZB's to the filesystem -->
    <add key="NzbOutputFolder" value="C:\temp\NNTPPoster\Nzbs" />
    <!-- What folder to watch for new files. Any files in this folder at startup will be added to the queue -->
    <add key="WatchFolder" value="C:\temp\NNTPPoster\Watch" />
    <!-- What folder to use as backup for the files that have not been verified yet.-->
    <add key="BackupFolder" value="C:\temp\NNTPPoster\Backup" />
     <!-- Where to find rar on the system, leave empty if rar is accesible trough the path -->    
    <add key="RarLocation" value="" />
    <!-- Where to find par2 on the system, leave empty if par2 is accesible trough the path -->
    <add key="ParLocation" value="" />    
    <!-- Wether to modify the video file to strip metadata. -->
    <!-- If this is enabled MkvPropEditLocation and FFmpegLocation settings have to be filled in.-->
    <add key="StripFileMetadata" value="true" />
    <!-- Where to find mkvpropedit on the system, leave empty if mkvpropedit is accesible trough the path -->
    <add key="MkvPropEditLocation" value="C:\Tools\MKVToolNix\mkvpropedit.exe" />
    <!-- Where to find ffmpeg on the system, leave empty if ffmpeg is accesible trough the path -->
    <add key="FFmpegLocation" value="C:\Tools\ffmpeg\bin\ffmpeg.exe" /> 

    

  
    <!--
    
      Settings you probably SHOULDNT change unless you know what you are doing.
    
    -->
    <!-- The newsgroup address that is added in the from header. -->
    <!-- This has no functional impact, but might be handy for debugging purposes.-->
    <add key="FromAddress" value="Bob &lt;bob@somwhere.cc&gt;" />
    <!-- When a release has been found on the indexer, remove it from the backup location or not. -->
    <!-- It is best to leave this on unless you have a manual cleaning process.-->
    <add key="RemoveAfterVerify" value="true" />
    <!-- How often to check for new files in the watch folder. -->
    <add key="FilesystemCheckIntervalMillis" value="5000" />
    <!-- Minimum age in minutes that files/folders need to have before they get picked up. -->
    <add key="FilesystemCheckTesholdMinutes" value="5" />
    <!-- How often to trigger the posting thread.-->
    <add key="AutoposterIntervalMillis" value="5000" />
    <!-- How often to notify the index of new obfuscated content.-->
    <add key="NotifierIntervalMinutes" value="5" />
    <!-- How often to verify content has been indexed. -->
    <add key="VerifierIntervalMinutes" value="30" />
    <!-- Some indexers still rename some things. -->
    <!-- This parameters determines how similar the uploaded name has to be using the Levenshtein distance. -->
    <!-- The default value of 95 is a good compromise in most cases.-->
    <add key="VerifySimilarityPercentageTreshold" value="95" />
    <!-- After how many minutes should we trigger a reupload. -->
    <!-- Make this higher if you are seeing duplicate uploads.-->
    <add key="RepostAfterMinutes" value="240" />
    <!-- How many times to retry posting a message. -->
    <add key="MaxRetryCount" value="3"/>
    <!-- This map contains FROM|RARSizeMB|RecoveryPct -->
    <!-- The default values of "0|15|10;1024|50|10;5120|100|5" -->
    <!-- result in files smaller than 1GB having 15 MB RAR size and 10% par2 recovery -->
    <!--  Files larger than 1 GB but smaller than 5 GB will have 50 MB rar size and 10% par2 recovery -->
    <!--  Files larger than 5 GB will have 100 MB rar size and 5% par2 recovery -->
    <add key="OptimalSizeRarAndPar" value="0|15|10;1024|50|10;5120|100|5" />
    <!-- How long to wait on new output from an external process. -->
    <add key="InactiveProcessTimeout" value="5"/>
    <!-- How many yEnc characters to use for one line.-->
    <add key="yEncLineSize" value="128" />
    <!-- How many yEnc lines to use per message. -->
    <add key="yEncLinesPerMessage" value="6000" />
    <!-- enter a path to a database file here if you want to store this in a different location.-->
    <!-- leave blank to keep it in the default location (the folder of the application) -->
    <add key="DatabaseFile" value="" />
  </appSettings>  
</configuration>