<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="NewsGroupUsername"
       value="##USERNAME##"
       xdt:Transform="Replace"
       xdt:Locator="Match(key)" />
    <add key="NewsGroupPassword"
         value="##PASSWORD##"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />

    <add key="MkvPropEditLocation"
         value=""
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />

    <add key="FFmpegLocation"
         value=""
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />

    <add key="PostTag"
         value=""
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />
    
    <add key="WatchFolder"
         value="watch"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />

    <add key="BackupFolder"
         value="backup"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />

    <add key="WorkingFolder"
         value="working"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />

    <add key="NzbOutputFolder"
         value=""
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />

    <add key="AutoposterIntervalMillis"
         value="5000"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />

    <add key="NotifierIntervalMinutes"
         value="5"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />

    <add key="VerifierIntervalMinutes"
         value="15"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />
  </appSettings>
</configuration>