<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- Poster Settings -->
    <add key="FromAddress" value="Bob &lt;bob@somwhere.cc&gt;"/>

    <add key="NewsGroupAddress" value="ssl-eu.astraweb.com"/>
    <add key="NewsGroupUsername" value="uI8SWpQ"/>
    <add key="NewsGroupPassword" value="##ASTRAWEBPASS##"/>
    <add key="NewsGroupUseSsl" value="true"/>
    <add key="TargetNewsgroups" value="alt.binaries.bloaf"/>

    <add key="MaxConnectionCount" value="5"/>

    <add key="yEncLineSize" value="128"/>
    <add key="yEncLinesPerMessage" value="6000"/>

    <add key="WorkingFolder" value="C:\temp\NNTPPoster\Working" />
    <add key="NzbOutputFolder" value="C:\temp\NNTPPoster\Nzbs"/>

    <add key="OptimalSizeRarAndPar" value="0|15|10;1024|50|10;5120|100|5"/>
    <add key="RarLocation" value=""/>
    <add key="ParLocation" value=""/>
    
    <!-- Autoposter settings -->
    <add key="PostTag" value="-BoB"/>
    
    <add key="WatchFolder" value="C:\temp\NNTPPoster\Watch"/>
    <add key="BackupFolder" value="C:\temp\NNTPPoster\Backup"/>
    <add key="AutoposterIntervalMillis" value="1000"/>
    <add key="NotifierIntervalMinutes" value="1"/>
    <add key="VerifierIntervalMinutes" value="2"/>
    <add key="RemoveAfterVerify" value="true"/>
    <add key="UseObscufation" value="true"/>
    <add key="ObscufatedNotificationUrl" value="https://api.nzbgeek.info/api?hash={0}&amp;name={1}&amp;apikey=##APIKEY##"/>
    <add key="SearchUrl" value="https://api.nzbgeek.info/api?t=search&amp;q={0}&amp;maxage={1}&amp;apikey=##APIKEY##"/>
    <add key="VerifySimilarityPercentageTreshold" value="90"/>
    <add key="MinRepostAgeMinutes" value="60"/>
    <add key="MaxRepostAgeMinutes" value="1440"/>

    <add key="StripFileMetadata" value="true"/>
    <add key="MkvPropEditLocation" value="C:\Tools\MKVToolNix\mkvpropedit.exe"/>
    <add key="FFmpegLocation" value="C:\Tools\ffmpeg\bin\ffmpeg.exe"/>
  </appSettings>
  <connectionStrings>
    <add name="DBConnection" connectionString="URI=file:Sqlite3.db,version=3"/>
  </connectionStrings>
</configuration>