<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- Poster Settings -->
    <add key="FromAddress" value="anoymous@anon.com (Anonymous)"/>

    <add key="NewsGroupAddress" value="ssl-eu.astraweb.com"/>
    <add key="NewsGroupUsername" value="uI8SWpQ"/>
    <add key="NewsGroupPassword" value="##ASTRAWEBPASS##"/>
    <add key="NewsGroupUseSsl" value="true"/>
    <add key="TargetNewsgroups" value="alt.binaries.test.files"/>

    <add key="MaxConnectionCount" value="5"/>

    <add key="yEncLineSize" value="128"/>
    <add key="yEncLinesPerMessage" value="6000"/>

    <add key="WorkingFolder" value="C:\temp\NNTPPoster\Working" />
    <add key="NzbOutputFolder" value="C:\temp\NNTPPoster\Nzbs"/>

    <add key="OptimalSizeRarAndPar" value="0|15|10;1024|50|10;5120|100|5"/>
    <add key="RarToolLocation" value=""/>
    <add key="ParToolLocation" value=""/>
    
    <!-- Autoposter settings -->
    <add key="PostTag" value="-BoB"/>
    
    <add key="WatchFolder" value="C:\temp\NNTPPoster\Watch"/>
    <add key="BackupFolder" value="C:\temp\NNTPPoster\Backup"/>
    <add key="UseHashing" value="true"/>
    <add key="HashedNotificationUrl" value="https://api.nzbgeek.info/?apikey=##APIKEY##&amp;hash={0}&amp;name={1}"/>
  </appSettings>
  <connectionStrings>
    <add name="DBConnection" connectionString="URI=file:Sqlite3.db,version=3"/>
  </connectionStrings>
</configuration>