<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="Util.Configuration">
  <!--     
      Any changes made to this settings will only take effect after a restart of the service.    
    -->
  <!--     
      Settings you MUST change for the autoposter to work    
    -->
  <!-- The address of your newshost you want to upload to-->
  <NewsGroupAddress>Address of news host</NewsGroupAddress>
  <!-- The port of your newshost you want to upload to usually 80 or 119 for non ssl and 443 or 563 for SSL -->
  <NewsGroupPort>443</NewsGroupPort>
  <!-- Credentials to use for uploading -->
  <NewsGroupUsername>username</NewsGroupUsername>
  <NewsGroupPassword>password</NewsGroupPassword>
  <!-- Use ssl or not. Take into account that forcing ssl on non SSL connections wont work, and vice versa -->
  <NewsGroupUseSsl>true</NewsGroupUseSsl>
  <!-- API url that is used to notify the indexer of an obfuscated release.-->
  <!-- The following two parameters will be replaced: -->
  <!--  {0} by the obfuscated name of the file/folder -->
  <!--  {1} by the original name of the file/folder -->
  <ObfuscatedNotificationUrl>https://api.apiserver.com/api?hash={0}&amp;name={1}&amp;apikey=##APIKEY##</ObfuscatedNotificationUrl>
  <!-- API url that is used to search the indexer. -->
  <!-- The following two parameters will be replaced: -->
  <!--  {0} by the search query -->
  <!--  {1} by the age + 1 of the post in days -->
  <SearchUrl>https://api.apiserver.com/api?t=search&amp;q={0}&amp;maxage={1}&amp;apikey=##APIKEY##</SearchUrl>

  <!-- The indexer rename maps defines rules how the indexer itself renames uploaded items. Use this if verification fails because of too much difference between what was uploaded and what was found.-->
  <!-- This map works as follows. Each character in Source is replaced by the corresponding character in target. If the character in target is identical it is removed entirely -->
  <IndexerRenameMapSource>_@</IndexerRenameMapSource>
  <IndexerRenameMapTarget> @</IndexerRenameMapTarget>

  <!-- Different watchfolder settings. Add copies of the inner <WatchFolderSettings> tag and modify to add more watchfolders.-->
  <WatchFolderSettings>
    <WatchFolderSettings>
      <!-- The short identifying name for this watch folder. This will be used as a subfolder in backup and working folders, so keep it short and legal for use as a folder name -->
      <ShortName>Default</ShortName>
      <!-- What folder to watch for new files. Any files in this folder at startup will be added to the queue -->
      <Path>watch</Path>
      <!-- Wether or not to obfuscate the filename. -->
      <!-- If set to true the uploaded filename will be a GUID instead of the original filename. -->
      <!-- When set the ObfuscatedNotificationUrl parameter has to be filled in.-->
      <UseObfuscation>false</UseObfuscation>
      <!-- wether to clean the name when uploading, this ensures a better name for usenet. 
           But might interfere for anime automation on the opther end.-->
      <CleanName>true</CleanName>
      <!-- A prefix to add to every release name, leave blank to omit -->
      <PreTag></PreTag>
      <!-- A suffix to add to every release name, leave blank to omit -->
      <PostTag></PostTag>
      <!-- What newsgroups to upload to. When entering more than one add them between <s:string></s:string> tags-->
      <TargetNewsgroups>
        <a:string>alt.binaries.multimedia</a:string>
      </TargetNewsgroups>
      <!-- Wether to modify the video file to strip metadata. -->
      <!-- If this is enabled MkvPropEditLocation and FFmpegLocation settings have to be filled in.-->
      <StripFileMetadata>false</StripFileMetadata>
      <!-- The newsgroup address that is added in the from header. -->
      <!-- This has no functional impact, but might be handy for debugging purposes.-->
      <FromAddress>bob@bobbers.bob</FromAddress>
      <!-- Wether to apply a random password to the uploaded archive -->
      <ApplyRandomPassword>false</ApplyRandomPassword>
      <!-- Apply this fixed rar password to the uploaded archive
           If ApplyRandomPassword is set to true this takes precedence and this setting is ignored. -->
      <RarPassword></RarPassword>
    </WatchFolderSettings>
  </WatchFolderSettings>

  <!--    
      Settings you MIGHT want to change    
    -->
  <!-- How many connections to open simultaneously. Your newshost. More is not always better. 
       Experiment with this to find the lowest value that saturates your connection for best performance.-->
  <MaxConnectionCount>10</MaxConnectionCount>
  <!-- Folder used to prepare the files for posting. Any data in this folder is removed at startup! -->
  <WorkingFolder>working</WorkingFolder>
  <!-- Folder where to output NZB's leave empty to skip writing NZB's to the filesystem -->
  <NzbOutputFolder></NzbOutputFolder>
  <!-- What folder to use as backup for the files that have not been verified yet.-->
  <BackupFolder>backup</BackupFolder>
  <!-- The maximum number of attempts a file will be reposted if it has an error. After this it goes to the postFailed folder -->
  <MaxRepostCount>3</MaxRepostCount>
  <!-- The folder to put failed uploads in -->
  <PostFailedFolder>uploadfailed</PostFailedFolder>
  <!-- Where to find rar on the system, leave empty if rar is accesible trough the path -->
  <RarLocation></RarLocation>
  <!-- Where to find par2 on the system, leave empty if par2 is accesible trough the path -->
  <ParLocation></ParLocation>
  <!-- Where to find mkvpropedit on the system, leave empty if mkvpropedit is accesible trough the path -->
  <MkvPropEditLocation></MkvPropEditLocation>
  <!-- Where to find ffmpeg on the system, leave empty if ffmpeg is accesible trough the path -->
  <FFmpegLocation></FFmpegLocation>


  <!--    
      Settings you probably SHOULDNT change unless you know what you are doing.    
    -->
  <!-- When a release has been found on the indexer, remove it from the backup location or not.
       It is best to leave this on unless you have a manual cleaning process.-->
  <RemoveAfterVerify>true</RemoveAfterVerify>
  <!-- How often to check for new files in the watch folder. -->
  <FilesystemCheckIntervalMillis>5000</FilesystemCheckIntervalMillis>
  <!-- Minimum age in minutes that files/folders need to have before they get picked up. -->
  <FilesystemCheckTesholdMinutes>5</FilesystemCheckTesholdMinutes>
  <!-- How often to trigger the posting thread.-->
  <AutoposterIntervalMillis>5000</AutoposterIntervalMillis>
  <!-- How often to notify the index of new obfuscated content.-->
  <NotifierIntervalMinutes>5</NotifierIntervalMinutes>
  <!-- How often to verify content has been indexed. -->
  <VerifierIntervalMinutes>15</VerifierIntervalMinutes>
  <!-- Some indexers still rename some things. -->
  <!-- This parameters determines how similar the uploaded name has to be using the Levenshtein distance. -->
  <!-- The default value of 95 is a good compromise in most cases.-->
  <VerifySimilarityPercentageTreshold>95</VerifySimilarityPercentageTreshold>
  <!-- After how many minutes should we trigger a reupload.
       Make this higher if you are seeing duplicate uploads.-->
  <RepostAfterMinutes>240</RepostAfterMinutes>
  <!-- How many times to retry posting a message. Take into account this is a usenet message, not a file. -->
  <MaxRetryCount>3</MaxRetryCount>
  <!-- How many minutes to wait on new output from an external process. -->
  <InactiveProcessTimeout>5</InactiveProcessTimeout>
  <!-- How long the yEnc lines should be. ONLY CHANGE IF YOU KNOW WHAT YOU'RE DOING! -->
  <YEncLineSize>128</YEncLineSize>
  <!-- How many yEnc lines to put in a post. ONLY CHANGE IF YOU KNOW WHAT YOU'RE DOING! -->
  <YEncLinesPerMessage>6000</YEncLinesPerMessage>
  <!-- The database file path, leave blank to use the default location-->
  <DatabaseFile></DatabaseFile>
  <!-- This list contains the rar and par2 settings depending on filesize add more entries for finer control -->
  <RarNParSettings>
    <RarNParSetting>
      <!-- From what size this rule matches, only the best, highest matching rule will be used. -->
      <FromSize>0</FromSize>
      <!-- How big each rar file should be (in MB, the real size will be optimized to coincede with the message size so will be slightly different than this)-->
      <RarSize>15</RarSize>
      <!-- How much par2 percentage to use -->
      <Par2Percentage>10</Par2Percentage>
    </RarNParSetting>
    <RarNParSetting>
      <FromSize>1024</FromSize>
      <RarSize>50</RarSize>
      <Par2Percentage>10</Par2Percentage>
    </RarNParSetting>
    <RarNParSetting>
      <FromSize>5120</FromSize>
      <RarSize>100</RarSize>
      <Par2Percentage>5</Par2Percentage>
    </RarNParSetting>
  </RarNParSettings>
</Settings>